.box{
    height:200px;
    width: 200px;
    color: white;
    box-sizing: border-box;
   /* borderbox=size-padding */
}
.box1{
    background-color: blue;
    padding: 20px;
}
.box2{
    background-color: orangered;
    padding: 20px;
    text-align: center;
}
.box3{
    background-color: brown;
    padding: 20px;
}