h1{
    background-color: blue;
    color: white;
    padding: 30px;
    border: 13px solid red;
    text-align: justify;
    border-radius: 100px;
    margin-top: 30px;
}
p{
    background-color: blue;
    color: white;
    padding: 30px;
    border: 13px solid red;
    text-align: justify;
    margin-top: 100px;
    border-radius: 30px;
}