/* *{
    all the margin collapse
    margin: 0;
} */
h1{
    background-color: green;
    color: white;

    /* increaseing the disatance b/w h1 and p */
    /* margin-bottom: 120px; */


    margin-bottom: 0px;

}
p{
    margin-top: 0px;
   background-color: brown; 
   color: white;
}