.block{
    background-color: lightblue;
    display: inline;
}
.inline{
    background-color: lightblue;
    display: block;
}
/* h1{
    text-align: center;
    margin: 20px auto;
    width: 50%;
} */