h1{
    background-color: blue;
    color: aliceblue;
    /* padding: 100px; */
    /* padding: 30px  30px   60px     20px;
                top   right  bottom   lrft        */

    padding: 20px 50px;
            /* top+bottom  right+left */
   
}